<section class="addPadding">
	<h1>{{title}}</h1>
	<hr>
	<h2>Username :: {{username}}</h2>
	<hr>
	<h3> My favorite pokemon! </h3>
	{{#each favorites}}
		<h4>{{this}}</h4> 
	{{else}}
		<h4> No Favorites :( Add some in the All Pokemon menu! </h4>
	{{/each}}
</section>