<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/site.css">
	<title>{{title}}</title>
</head>

<body>
	<main class="wrapper">
		<img src="pokemans.png" id="login-image" alt="">
		{{{body}}}
	</main>
</body>
</html>
