<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/site.css">
	<title>{{title}}</title>
</head>

<body>

	<nav>
		<div class="nav">
			<img src="/pokemans.png">
			<ul class="topnav">
				<li>
					<a href="/home">Home</a>
				</li>
				<li>
					<a href="/pokemon">All pokemon</a>
				</li>
				<li>
					<a href="/matchup">Match up!</a>
				</li>
				<li>
					<a href="/forum">Discussion!</a>
			<ul>
		</div>

	</nav>

	<main class="wrapper">
		{{{body}}}
	</main>
</body>
</html>
