<img src="pokemans.png">
<section class="login-padding">
	<h1>{{title}}</h1>
	<h2 class="error">{{error}}</h2>
	<form action="/login" method="POST" id="login-form">
			<input type="text" name="username" class="form-control" placeholder="Username">
			<input type="text" name="password" class="form-control" placeholder="Password">
			<button type="submit" class="submit-button">Submit</button>
	</form>
	<a class="text-center" href="/create-account"> Don't have an account? Read more and sign up here! </a>
</section>