<table style="width:50%" id="student-table">
  <tr>
    <th>Student UserName</th>
    <th>Student Password</th> 
  </tr>
{{#each pokemon}}
   <tr>
    <td>{{this.url}}</td>
    <td>{{this.name}}</td> 
  </tr>
{{else}}
	<td> No students :( </td>
  <td> Please add students! </td> 
{{/each}}
</table>