<div class="login-padding">
  <form action="/pokemon/getPokemon" method="POST" id="login-form">
        <input type="text" name="pokename" class="form-control" placeholder="Pokemon Name" id="pokeman-input">
        <button type="submit" class="submit-button" id="pokeman-submit">Search!</button>
  </form>
</div>


<table style="width:50%" id="student-table">
  <tr>
    <th>All current Pokemon!</th>
  </tr>
{{#each pokemon}}
   <tr>
    <td><a onclick="openPokeView(this)" id={{this.name}}>{{this.name}}</a></td>
  </tr>
{{else}}
	<td> No pokemon :(</td>
{{/each}}
</table>

<script type="text/javascript" src="/pokelistHandler.js"></script>