* {
  box-sizing: border-box;
}

html,
body {
  background: #dedede;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 14pt;
}

main {
  max-width: 75%;
  margin: auto;
}

h1 {
  color: #222;
  margin-bottom: 5px;
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 2;
}

label {
  font-weight: bold;
}

ul {
  list-style-type: none;
}