<div class="login-padding">
	<h3> {{title}} </h3>
  <form action="/pokemon/getMatchup" method="POST" id="login-form">
        <input type="text" name="pokename" class="form-control" placeholder="Pokemon Name">
        <button type="submit" class="submit-button">Find the best match!</button>
  </form>
</div>