<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/site.css">
	<title>{{title}}</title>
</head>

<body>
	<main>
		{{{body}}}
	</main>
</body>
</html>
