<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/site.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<title>{{title}}</title>
</head>

<body>

	<nav>
		<div class="nav">
			<img src="/pokemans.png" alt="">
			<ul class="topnav">
				<li>
					<a href="/home">Home</a>
				</li>
				<li>
					<a href="/pokemon">All pokemon</a>
				</li>
				<li>
					<a href="/matchup">Match up!</a>
				</li>
				<li>
					<a href="/forum">Discussion!</a>
				</li>
				<li style="float: right;">
					<a href="/logout">Logout :( </a>
				</li>
			</ul>
		</div>

	</nav>

	<main class="wrapper">
		{{{body}}}
	</main>
</body>
</html>
